.products {
    width: 80vw;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 130px);
    gap: 20px;
    justify-items: center;
    align-items: center;
}
